body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

input, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
